
<div class="panel panel-default panel-intro">
    
    <div class="panel-heading">
        <div class="panel-lead">
            <em style="font-size:18px;">收款地址</em>
            订单收款将会即时转入已启用的收款地址，请确保至少一条地址信息处于启用状态。
        </div>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="刷新"><i class="fa fa-refresh"></i> </a>                    
                        <a href="javascript:;" class="btn btn-success btn-add" title="添加"><i class="fa fa-plus"></i> 添加</a>
                    </div>
                        <table id="table" class="table table-striped table-bordered table-hover table-nowrap" data-operate-edit="1" data-operate-del="1" width="100%">
                        </table>
                </div>
            </div>

        </div>
    </div>
    <div class="panel-heading" style="background: #fff;border-color: #fff;">
        <div class="panel-lead">
            <em>说明</em>
            <p>1.请确保至少一条地址信息处于启用状态，否则无法发起订单收款。</p>
            <p>2.当前账户最多支持1条地址信息处于启用状态。</p>
            <p>3.商户可前往工具菜单，在线生成可用于收款的全新地址。</p>
        </div>
    </div>
</div>
