<style type="text/css">
    @media (max-width: 375px) {
        .edit-form tr td input {
            width: 100%;
        }

        .edit-form tr th:first-child, .edit-form tr td:first-child {
            width: 20%;
        }

        .edit-form tr th:nth-last-of-type(-n+2), .edit-form tr td:nth-last-of-type(-n+2) {
            display: none;
        }
    }

    .edit-form table > tbody > tr td a.btn-delcfg {
        visibility: hidden;
    }

    .edit-form table > tbody > tr:hover td a.btn-delcfg {
        visibility: visible;
    }

</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead">
            <em style="font-size:18px;">订单测试</em>
        </div>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <!--@formatter:off-->
            <div class="tab-pane fade active in">
                <div class="widget-body no-padding">
                    <form id="basic-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
                        <table class="table table-striped">
                            <tbody>
                            <tr data-favisible="" data-name="name" class="">
                                <td>订单币种</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-12">
                                            <select id="currency"  name="row[currency]" class="form-control selectpicker" data-tip="选择订单币种" >
                                                <option value="CNY" >CNY - 人民币</option>
                                                <option value="USD" >USD - 美元</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr data-favisible="" data-name="name" class="">
                                <td>订单金额</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-12">
                                            <input  type="text" id="amount" name="row[amount]" value="" class="form-control" data-rule="订单金额:required.digits" placeholder="请输入订单金额" data-tip="请输入订单金额"/>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr data-favisible="" data-name="name" class="">
                                <td>回调地址</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-12">
                                            <input  type="text" id="notify_url" name="row[notify_url]" value="" class="form-control" data-rule="回调地址:required.url" placeholder="请输入回调地址" data-tip="请输入回调地址"/>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr data-favisible="" data-name="name" class="">
                                <td>跳转地址</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-12">
                                            <input  type="text" id="redirect_url" name="row[redirect_url]" value="" class="form-control" data-rule="跳转地址:required.url" placeholder="请输入跳转地址" data-tip="请输入跳转地址"/>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="layer-footer">
                                        <button type="submit" class="btn btn-primary btn-embossed disabled">提交</button>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
                <div class="panel-heading" style="background: #fff;border-color: #fff;">
                    <div class="panel-lead">
                        <em style="display: block;font-weight: bold;font-style: normal;">说明</em>
                        <p>1.该页面功能用于测试订单支付流程。测试金额会进入商户收款地址。</p>
                    </div>
                </div>
            </div>
            <!--@formatter:on-->
        </div>
    </div>
</div>